.page-parent-div{
  padding-left: 25px;
  padding-right: 25px;
}

.resume-section{
  padding-bottom: 10px;
  border-bottom: solid 2px;
}

.resume-section > div{
  padding-bottom: 15px;
}

.resume-section > h2 {
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.subsection{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

p{
  font-size: 18px;;
}
li{
  font-size: 18px;;
}

.work-start-end{
  display: grid;
  padding-left: 25px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "jobTitle    startEnd"
                        "employer   .";
}
.work-item-title{
  grid-area: jobTitle;
  padding: 0;
  margin: 0;
}

.work-item-start-end{
  grid-area: startEnd;
  display: flex;
  justify-content: right;
  padding: 0;
  margin: 0;
}

.special-subsection{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.special-subsection > h3 {
  width:100%
}
.special-subsection > ul{
  list-style: none;
  
}

.work-item-employer{
  grid-area: employer;
  padding: 0;
  margin: 0;
}

/*.subsection{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}*/

.subsection-title{
  width: 100%;
}



img{
  width: 25px;
  height: 25px;
  padding-right: 10px;
}

